@font-face {
  font-family: "iconfont"; /* Project id 4082012 */
  src: url('/static/icon/iconfont.woff2?t=1684923168336') format('woff2'),
       url('/static/icon/iconfont.woff?t=1684923168336') format('woff'),
       url('/static/icon/iconfont.ttf?t=1684923168336') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before {
  content: "\e601";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-bofang1:before {
  content: "\e62c";
}

.icon-Search:before {
  content: "\e602";
}

.icon-zuojiantou:before {
  content: "\e600";
}

.icon-zhuye:before {
  content: "\e63f";
}

