@font-face {
  font-family: "iconfont"; /* Project id 4082012 */
  src: url('~@/static/icon/iconfont.woff2?t=1684838615725') format('woff2'),
       url('~@/static/icon/iconfont.woff?t=1684838615725') format('woff'),
       url('~@/static/icon/iconfont.ttf?t=1684838615725') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuojiantou:before {
  content: "\e600";
}

.icon-zhuye:before {
  content: "\e63f";
}

